In [2]:
import os
import pandas as pd
import matplotlib.pyplot as plt
path = "./Sales_Data"

files = [file for file in os.listdir(path) if not file.startswith('.')] # Ignore hidden files

files

['Sales_December_2019.csv',
 'Sales_April_2019.csv',
 'Sales_February_2019.csv',
 'Sales_March_2019.csv',
 'Sales_August_2019.csv',
 'Sales_May_2019.csv',
 'all_data_copy.csv',
 'Sales_November_2019.csv',
 'Sales_October_2019.csv',
 'Sales_January_2019.csv',
 'Sales_September_2019.csv',
 'Sales_July_2019.csv',
 'Sales_June_2019.csv']

In [3]:
all_data = pd.read_csv(path+'/'+"all_data_copy.csv")
all_data.head(10)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"
5,295670,AA Batteries (4-pack),1,3.84,12/31/19 22:58,"200 Jefferson St, New York City, NY 10001"
6,295671,USB-C Charging Cable,1,11.95,12/16/19 15:10,"928 12th St, Portland, OR 97035"
7,295672,USB-C Charging Cable,2,11.95,12/13/19 09:29,"813 Hickory St, Dallas, TX 75001"
8,295673,Bose SoundSport Headphones,1,99.99,12/15/19 23:26,"718 Wilson St, Dallas, TX 75001"
9,295674,AAA Batteries (4-pack),4,2.99,12/28/19 11:51,"77 7th St, Dallas, TX 75001"

In [4]:
def sales(x,y):
    for i in range(len(x)):
        plt.text(i, y[i], str((y[i]/100).round(3))+" crores", ha = 'center', va='bottom')
titles =[df['Product'].sum().round(2),df['Order Date'].sum().round(2),df['Quanity Ordered'].sum().round(2),df['Price Each'].sum().round(2)]
name=['Product','Order Date','Quantity Ordered','Price Each']

NameError: name 'df' is not defined

In [5]:
class classification:
    def __init__(self,Product,Quantity Ordered,Price Each,Order Date,Purchase Address):
        self.Product=list()
        self.Quantity Ordered==list()
        self.Price Each=list()
        self.Order Date=list()
        self.Purchase Address=list()
s=classification()

SyntaxError: invalid syntax (3461460120.py, line 2)